@font-face {
    font-family: fligth;
    src: url(../fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: fmedium;
    src: url(../fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: fbold;
    src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: robligth;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: robregular;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: robbold;
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

$colors: (primary: mediumpurple,
    secundary: #FFF,
    letter: #242C4D,
    matiz:#F2F2F2,
    wond:#B58B74 ,
);

$button-bg: mediumpurple;
$button-text-color: #fff;
$baby-blue: #f8faff;

@mixin title {
  color: map-get($colors, 'primary');
  font-family: robregular;
  font-size: 4em;
}
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}


.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px mediumpurple;
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}
