.contact{
  // section{
  h2 {
    color: mediumpurple;
    font-family: robregular;
    font-size: 4em;
    font-family: robbold;
    font-size: 4em;
  }

  .row {
    form {
      .card-panel {
        .input-field {}
      }
    }

    .img-form{
background-image: url(../imagenes/img1.jpg);
background-attachment: fixed;
background-size: cover;
position: relative;
background-position: right;
   width: 100%;
   height: 67vh;
    }


  }

  button {
    width: 50%;
    height: 50px;
    background-color: map-get($colors, 'primary');
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 11px;
    margin: 5%;
    padding: .375rem .75rem;
    border-radius: .25rem;
    color: #FFFFFF;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out;
    font-size: 20px;
    font-family: robligth;

    &:hover,
    &:active,
    &:focus {
      a {
        color: #9073db !important;
      }

      background: #FFFFFF;
      border: 1px solid map-get($colors, 'primary');
    }

    a {
      color: #FFFFFF;
    }
  }
}