@import './recurses';

//parallax
// .todo
//   display: flex;
//     flex-direction: column;
.min1 {
  width: 100%;

  .bloque {
    background: url(../imagenes/api.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-position: right;
  }
}


.row {
  .col-portada-home {
    .text-portada {
      position: absolute;
      height: 100vh;
      // background: map-get($colors, 'primary');
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;

      color: #FFFFFF;

      .col-portada-home-div {
        margin-top: 30%;


        h1 {
          font-size: 5em;
          font-family: robbold;
          letter-spacing: 0.02em;
          animation-name: title1;
          animation-duration: 2s;
          opacity: 0;
          animation-fill-mode: forwards;
          animation-delay: 1s;
        }

        h2 {
          font-size: 3em;
          font-family: robligth;
          animation-name: title2;
          animation-duration: 2s;
          opacity: 0;
          animation-fill-mode: forwards;
          animation-delay: 2s;
        }

        button {
          width: 70%;
          height: 60px;
          background-color: map-get($colors, 'primary');
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 11px;
          margin: 3%;
          padding: .375rem .75rem;
          border: 1px solid #FFFFFF;
          border-radius: .25rem;
         
          transition: color .15s ease-in-out,
            background-color .15s ease-in-out;
          font-size: 20px;
          font-family: robligth;

          &:hover,
          &:active,
          &:focus {
            a{
             color: map-get($colors, 'primary') !important;
            }
            
            background: #FFFFFF;
            border: 1px solid map-get($colors, 'primary');
          }
          a{
            color: #FFFFFF;
          }
        }

        @keyframes title1 {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes title2 {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

      }
    }
  }
}

.about {
  height: 75vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;

  h2 {
    @include title;
    font-family: robbold;
    font-size: 4em;
  }

  .row {
    div {

      h3 {
        font-family: robbold;
        font-size: 3em;
        text-align: center;

        color: #B58B74;

      }

      p {
        font-family: robligth;
        text-align: center;
        font-size: 2em;
        line-height: 42px;
        text-align: center;

        color: #242C4D;
      }
    }
  }

}

.habil {
  width: 100%;
  height: 30vh;
  .bloque-habil {

    .fondo {
      // @extend .habil;
      width: 100%;
      height: 30vh;
      position: absolute;
      object-fit: cover;
    }

    .cont-text {
      width: 100%;
      height: 30vh;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background:map-get($colors, 'primary');
      font-family: robbold;
      font-size: 4em;
    }
  }
}

.container-tabs {

  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;

  .row {
    .col {
      .card {
        font-family: robregular;

        // height: 271px;
        .card-image {
          img {
            height: 11em;
          }


          .card-title {
            width: 100%;
            padding: 10px;
          }
        }

        .card-content {
          li {

            font-size: 1.5em;
            list-style: none;
          }
        }
      }
    }
  }
}

// }