@import './componentes/recurses';

@import './componentes/viewAbout';

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fmedium;
}


header {
  a {
    color: map-get($colors, 'letter') !important;
    text-decoration: none;
  }

  nav {
    div {
      .brand-logo {
        padding: 1%;

        img {
          width: 66px;
          margin-left: 20%  !important;
        }



      }
    }
  }
}

 


  @import './componentes/viewHome';
  @import './componentes/viewContact';
  @import './componentes/viewproyecto';
  footer {
    background: map-get($colors, 'wond') !important;
    // position: relative;
  }


  @import './componentes//mediaQueries'